{
  "rules": {
    "indent": [
      1,
      "tab"
    ],
    "quotes": [
      2,
      "double"
    ],
    "linebreak-style": [
      2,
      "unix"
    ],
    "semi": [
      2,
      "always"
    ],
    "no-unused-vars": [
      2,
      {
        "args": "after-used",
        "varsIgnorePattern": ""
      }
    ],
    "strict": [2,"global"],
    "eqeqeq": [2,"smart"],
    "curly": [2, "all"],
    "no-lonely-if": 2,
    "no-unused-expressions": 2,
    "block-scoped-var": 2,
    "complexity": [2, 7],
    "consistent-return": 2,
    "dot-notation": [2, { "allowKeywords": true }],
    "no-alert": 2
  },
  "env": {
    "es6": true,
    "node": true
  },
  "extends": "eslint:recommended",
  "ecmaFeatures": {
    "modules": true,
    "experimentalObjectRestSpread": true
  },
  "plugins": [
  ]
}